extends layout

block content
    br
    div(class='row')
        div(class='col-md-12')
            table(class='table', id='report')
                tr
                    th
                        i Click on one topic to show all the topic questions.
                    = '\n'
                tr
                    td(class='title') Tasse 
                    = '\n'
                tr
                    td(colspan='4')
                        ul
                            li 
                                a(href='#') How test?
                            li 
                                a(href='#') How test2?
                    = '\n'
                tr
                    td(class='title') Esami 
                    = '\n'
                tr
                    td(colspan='4')
                        ul
                            li 
                                a(href='#') What test?
                            li 
                                a(href='#') What test2?
                    = '\n'

